<% provide(:title,'All users') %>
<h1>All users</h1>

<%# Code11.33 user index pagination %>
<%= will_paginate %>

<ul class="users">
	<%# @users.each do |user| %>
		<%# Code11.35,Code11.37 refactoring%>
		<%= render @user %>
	<%# Code11.35 refactoringのためコメント%>
	<%#<li> %>
		<%#= gravatar_for user,size: 52 %>
		<%#= link_to user.name,user %>
	<%#</li> %>
	<%#end %>
</ul>

<%# Code11.33 user index pagination %>
<%= will_paginate %>